
<%= form_with model: @app_data, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this App Data from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :SystemName %><br>
    <%= form.text_field :system_name %>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :usermail %>
  </p>
  <p>
    <%= form.label :mobile %><br>
    <%= form.text_field :userphone %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>